/* Mobile devices (portrait) */
@media only screen and (max-width: 700px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: rgb(63, 67, 97);
        height: 50px;
    }
    nav {
        display: flex;
        background-color: black;
        width: 250vw;
        color: white;
        height: 45px;
    }
   
    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        padding: 10px 1;
    }


    .container {
        min-height: 67vh;
        min-width: 624px;
        display: flex;
        width: 500px;
        background-color: transparent;
        justify-content: flex-start;
        color: white;
        margin: 17px auto;
        padding: 0;
        border-radius: 12px;
        background-image: url(images/arjit1.jpg);
        background-position: -88% 10%;
    }
    #volume {
        height: 25px;
        width: 25px;
        display: flex;
         position: absolute;
        left: 15px;
        bottom: 33px; 
    }
    #volumeBar {
    display: flex;
     position: absolute;
    left: 50px;
    bottom: 40px;
    height: 20px; 
    cursor: pointer;
    background: linear-gradient(to right, #ca0d9b, white);
    appearance: none;
    width: 50px;
    height: 10px;
    outline: none;
    border-radius: 5px;
}
#loop{
    height: 25px;
    width: 25px;
    display:flex; 
     position: absolute;
    right: 40px;
    bottom: 30px;
}
.icon{
     margin: 15px 20px; 
    fill: rgb(67, 62, 62);
    cursor: pointer;
    display: flex;
    justify-content:space-between;
 
}

}